<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnvJ0uS4kL8Nwtdu88OAunbJIe9A5nfKU</string>
	<key>GCM_SENDER_ID</key>
	<string>211227124272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sodaProjectFinal</string>
	<key>PROJECT_ID</key>
	<string>soda-project-final</string>
	<key>STORAGE_BUCKET</key>
	<string>soda-project-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211227124272:ios:dac6e212284561495e43f5</string>
</dict>
</plist>